@model InternshipsManagmentProject.Data.Student
@{
    ViewBag.Title = "Inregistrare Cont";
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<link href="~/Content/Student.css" rel="stylesheet" />
<script src="/Scripts/Student.js"></script>
<div>
   @using (Html.BeginForm("StudentRegister", "Student", FormMethod.Post, new { @class = "form_student",@id= "studentform", role = "form", enctype = "multipart/form-data" })) {

    <input type="hidden" name="selection" value="3" />
    <input type="hidden" name="UserId" id="UserId" value="@Session["UserId"]" />

    <table id="form_table">
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Nume:
                </label>
            </td>
            <td>
                <input type="text" id="input_name" name="Name" value=@Model.Name>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Prenume:
                </label>
            </td>
            <td>
                <input type="text" id="input_lastName" name="LastName" value=@Model.LastName>
            </td>
        </tr>
        
        
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Universitate:
                </label>
            </td>
            <td>
                <input type="text" id="input_university" name="University" value=@Model.University>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Domeniu:
                </label>
            </td>
            <td>
                <input type="text" id="input_domain" name="Domain" value=@Model.Domain>
            </td>
        </tr>

        <tr>
            <td>
                <label class="control-label col-md-10">
                    Link Github:
                </label>
            </td>
            <td>
                <input type="text" id="input_linkGithub" name="WebsiteLink" value=@Model.WebsiteLink>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Data Nasterii:
                </label>
            </td>
            <td>
                <input type="date" id="input_birthday" name="Birthday" value=@Model.Birthday>
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Aptitudini:
                </label>
            </td>
            <td>
                <input type="text" id="skills" name="Skills" value=@Model.Skills />
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Poza Profil:
                </label>
                <input type="file" name="imagePath" id="input_image" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-md-10">
                    Descriere:
                </label>
                <textarea name="Bio" id="input_bio" rows="5" cols="50">@Model.Bio</textarea>
            </td>
        </tr>
    </table>
    <div>
        <input id="form_button" type="button" value="Register Student">
        <input id="form_submit" type="submit" value="Register Student">
    </div>
    }
</div>
<script>
    $(FormSetup());
</script>