@model InternshipsManagmentProject.Models.HomeStudent
@{
    ViewBag.Title = "Home " + Model.Student.Name;
}

<br>
<form asp-controller="StudentController" asp-action="Cauta">
    <p>
        <input type="text" name="SearchString" placeholder="Nume internship">
        <input type="submit" value="Cauta internship" />
    </p>
</form>

<table class="table">
    @foreach (var item in Model.Internships)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Internships", routeValues: new { id = item.InternshipId }, htmlAttributes: new { id = item.InternshipId })
            </td>
            @if (Model.ListOfIdsOfAppliedInternships.Contains(item.InternshipId))
            {
                <td>
                    Ai aplicat deja
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Aplica", "Create", "StudentInternship",new { idInternship = item.InternshipId }, new { idInternship = item.InternshipId })
                </td>
            }
        </tr>
    }

</table>



