:root {
    /*
        --menu_selected: #fb950b;
        --menu_grayed: #ff1515;
        --menu_hover_selected: #fcb049;
        --menu_hover_grayed: #ff6666;
        --ship_selected: #00cc99;
        --ship_grayed: #006600;
        --ship_hover_selected: #51ffd3;
        --ship_hover_grayed: #00aa00;
        --progress_complete: #2ECC71;
        --progress_active: #3498DB;
        --progress_mute: #DFE3E4;
        */
    --menu_selected: #a6a6a6;
    --menu_grayed: #585858;
    --menu_hover_selected: #b1b1b1;
    --menu_hover_grayed: #6b6b6b;
    --ship_selected: #a6a6a6;
    --ship_grayed: #585858;
    --ship_hover_selected: #b1b1b1;
    --ship_hover_grayed: #6b6b6b;
    --progress_complete: #797979;
    --progress_active: #b1b1b1;
    --progress_mute: #303030;
}

.progress {
    list-style: none;
    background-color: lightgrey;
    height: auto;
    width: auto;
}

    .progress > li {
        position: relative;
        display: table-cell;
        text-align: center;
        font-size: 0.8em;
        padding-left: 25px;
    }



        .progress > li:before {
            content: attr(data-step);
            display: block;
            margin: 0 auto;
            background: var(--progress_mute);
            width: 3em;
            height: 3em;
            text-align: center;
            line-height: 3em;
            border-radius: 100%;
            position: relative;
            z-index: 1000;
        }

        .progress > li:after {
            content: '';
            position: absolute;
            display: block;
            background: var(--progress_mute);
            width: 100%;
            height: 0.5em;
            top: 1.25em;
            left: 50%;
            margin-left: 1.5em\9;
        }

        .progress > li:last-child:after {
            display: none;
        }

        .progress > li.is-complete {
            color: var(--progress_complete);
        }

            .progress > li.is-complete:before {
                color: #FFF;
                background: var(--progress_complete);
            }

            .progress > li.is-complete:after {
                color: #FFF;
                background: var(--progress_complete);
            }

        .progress > li.is-active {
            color: var(--progress_active);
        }

            .progress > li.is-active:before {
                color: #FFF;
                background: var(--progress_active);
            }

.progress__last:after {
    display: none !important;
}

.progress__last:after {
    display: none !important;
}

.progress > li.red_:after {
    background: red;
}
.progress > li.green2:after {
    background: darkgreen;
}
.progress > li.blue2:after {
    background: darkblue;
}

.progress > li.red:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: red;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}

.progress > li.green:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: lightgreen;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}
.progress > li.green2:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: darkgreen;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}

    .progress > li.yellow:before {
        content: attr(data-step);
        display: block;
        margin: 0 auto;
        background: yellow;
        width: 3em;
        height: 3em;
        text-align: center;
        line-height: 3em;
        border-radius: 100%;
        position: relative;
        z-index: 1000;
    }

.progress > li.blue:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: darkblue;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}
.progress > li.blue2:before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: darkblue;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}
.progress > li.red {
    color: red;
}

.progress > li.blue {
    color: lightgreen;
}

.progress > li.green {
    color: lightgreen;
}

.progress > li.blue2 {
    color: darkblue;
}

.progress > li.green2 {
    color: darkgreen;
}

.progress > li.yellow{
    color: yellow;
}

.form_student {
    width: 450px;
    font-size: 16px;
    padding: 30px 30px 15px 30px;
}
/*
    .form_student input[type=submit],
    .form_student input[type=button],
    .form_student input[type=text],
    .form_student input[type=email],
    .form_student input[type=date] .form_student textarea,
    .form_student label {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 16px;
    }

        .form_student input[type=text],
        .form_student input[type=email] .form_student input[type=date] {
            background: var(--ship_hover_selected);
            border: 3px dashed var(--ship_grayed);
            width: 275px;
            outline: none;
            padding: 0px 0px 0px 0px;
            font-style: italic;
        }

    .form_student textarea {
        font-style: italic;
        padding: 0px 0px 0px 0px;
        background: var(--ship_hover_selected);
        outline: none;
        border: 3px dashed var(--ship_grayed);
        height: auto;
        min-height: 60px;
        overflow-y: auto;
        word-wrap: break-word
    }

        .form_student textarea:focus,
        .form_student input[type=text]:focus,
        .form_student input[type=email]:focus,
        .form_student input[type=date] :focus {
            border: 3px solid var(--ship_hover_grayed);
        }

    .form_student input[type=submit],
    .form_student input[type=button] {
        background: var(--ship_selected);
        border: none;
        padding: 8px 10px 8px 10px;
        border-radius: 5px;
        font-size: larger;
    }

        .form_student input[type=submit]:hover,
        .form_student input[type=button]:hover {
            background: var(--ship_hover_selected)
        }
        */

.profile_pic {
    max-width: 150px;
    margin: 10px;
    border: 3px dotted var(--ship_hover_selected);
}

.hidden {
    display: none;
}

div.internship > div {
    border-radius: 5px;
    background: var(--ship_hover_selected);
    padding: 20px;
    width: auto;
}

.internship_drop {
    background: var(--ship_grayed);
    border-radius: 20px;
    padding: 2.5px;
}

.skill_plus {
    background: var(--ship_grayed);
    border-radius: 25px;
    padding: 5px;
}

div.internship {
    border-radius: 25px;
    background: var(--ship_hover_grayed);
    padding: 20px;
    max-width: 500px;
    width: auto;
    margin-top:5px;
}

#menu > li {
    border-radius: 25px;
    padding: 20px;
    width: auto;
}

#parent_left {
    position: relative;
}

#panel_left {
    position: absolute;
    min-width: 200px;
    padding-top: 0px;
    top: 0px;
}

#panel_right > div {
    margin-top: 0px;
}
#skillsList {
    padding:0;
    list-style: none;
}
#panel_right {
    min-width: 600px;
    min-height: 400px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.internship_drop:hover {
    background: var(--ship_selected);
}

.menu_selected {
    background: var(--menu_selected);
}

.menu_grayed {
    background: var(--menu_grayed);
}

.menu_selected:hover {
    background: var(--menu_hover_selected);
}

.menu_grayed:hover {
    background: var(--menu_hover_grayed);
}

.ship_selected {
    background: var(--ship_selected);
}

.ship_grayed {
    background: var(--ship_grayed);
}

.ship_selected:hover {
    background: var(--ship_hover_selected);
}

.ship_grayed:hover {
    background: var(--ship_hover_grayed);
}

.form_student td {
    padding-bottom: 30px;
    padding-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
